app-sign-in {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-onboarding {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #040325;
}

app-tab-navigator {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-dashboard,
app-deposits,
app-loans,
app-notification,
app-more {
  display: flex;
  flex-direction: column;
  height: 100%;
}
