:root {
  // Colors
  --main-dark: #040325;
  --white-color: #fff;
  --text-color: #6c6d84;
  --main-color: #ff8a71;
  --pastel-color: #fcedea;
  --golden-color: #d7bb7b;
  --border-color: #eeeeee;
  --main-background: #f5fafb;
  --input-background: #fbf8f2;
  --image-background: #f7f7fd;

  // Header and bottom bar
  --header-height: 50px;
  --footer-height: 70px;

  // Screen width
  --screen-width: 650px;
}
