<img src="/assets/other/01.png" alt="background" class="background" />

<app-header [title]="'New password'" [showGoBack]="true" />

<main [className]="'scrollabel container main'">
  <p [className]="'t16 main__description'">Enter new password and confirm.</p>

  <app-input-field
    [leftIcon]="'/assets/svg/key.svg'"
    [className]="'main__input-field'"
    [placeholder]="'New password'"
    [rightIcon]="'/assets/svg/eye-off.svg'"
  ></app-input-field>
  <app-input-field
    [leftIcon]="'/assets/svg/key.svg'"
    [className]="'main__input-field main__input-field-last'"
    [placeholder]="'Confirm your password'"
    [rightIcon]="'/assets/svg/eye-off.svg'"
  ></app-input-field>

  <app-button
    [text]="'Change password'"
    [routerLink]="'/forgot-password-sent-email'"
  ></app-button>
</main>
