<app-header [showGoBack]="true"></app-header>

<main [className]="'main scrollable container'">
  <span [className]="'t14 main__transaction-amount'">- 263.57 USD</span>
  <span [className]="'t14 main__transaction-date'"
    >Apr 10, 2023 at 11:34 AM</span
  >
  <img
    alt="transaction"
    src="/assets/svg/details-check.svg"
    [className]="'main__transaction-icon'"
  />
  <div [className]="'row-center-space-between t16 main__transaction-info'">
    <span>Sent to</span>
    <h5>Hillary Holmes</h5>
  </div>
  <div [className]="'row-center-space-between t16 main__transaction-info'">
    <span>Card</span>
    <h5>**** 4253</h5>
  </div>
  <div [className]="'row-center-space-between t16 main__transaction-info'">
    <span>Amount</span>
    <h5>263.57 USD</h5>
  </div>
  <div [className]="'row-center-space-between t16 main__transaction-info'">
    <span>Fee</span>
    <h5>1.8 USD</h5>
  </div>
  <div [className]="'row-center-space-between t16 main__transaction-info-last'">
    <span>Residual balance</span>
    <h5>4 863.27 USD</h5>
  </div>
  <div [className]="'main__buttons'">
    <app-button
      [routerLink]="''"
      [text]="'repeat transfer'"
      [className]="'main__button'"
      [colorScheme]="'secondary'"
    ></app-button>
    <app-button
      [text]="'Download PDF'"
      [className]="'main__button'"
      [routerLink]="''"
    ></app-button>
  </div>
</main>
