<img src="/assets/other/01.png" alt="background" class="background" />

<app-header [title]="'Forgot password'" [showGoBack]="true" />

<main [className]="'scrollabel container main'">
  <p [className]="'t16 main__description'">
    Please enter your email address. You will receive a <br />
    link to create a new password via email.
  </p>

  <app-input-field
    [leftIcon]="'/assets/svg/mail.svg'"
    [className]="'main__input-field'"
    [rightIcon]="'/assets/svg/check.svg'"
    [placeholder]="'brileyhenderson@mail.com'"
  ></app-input-field>

  <app-button [text]="'Send'" [routerLink]="'/new-password'"></app-button>
</main>
