.container-main {
  height: 100px;
  overflow-y: auto;
  background-color: red;
}

// .app {
//   background-color: red;

//   &.some-route-class {
//     background-color: blue;
//   }
// }

// .main-dark-color {
//   color: red;
// }

// .white-color {
//   color: orange;
// }

// .app {
//   background-color: red;

//   &.main-dark-color {
//     background-color: blue;
//   }

//   &.white-color {
//     background-color: green;
//   }
// }
