<app-header [title]="'Statistics'" [showGoBack]="true"></app-header>

<app-loader *ngIf="loading"></app-loader>

<main [className]="'main scrollable container'" *ngIf="!loading">
  <section [className]="'main__statistic-types'">
    <button
      (click)="setStatisticType('Income')"
      [className]="'main__statistic-type t14'"
      [ngClass]="{'main__statistic-type--active': statisticType === 'Income'}"
    >
      Income
    </button>
    <button
      [className]="'main__statistic-type t14'"
      (click)="setStatisticType('Expenses')"
      [ngClass]="{'main__statistic-type--active': statisticType === 'Expenses'}"
    >
      Expenses
    </button>
  </section>

  <section [className]="'main__date'">
    <span [className]="'t14'">Sep 1 - Sep 20, 2022</span>
    <img
      alt="calendar"
      src="/assets/svg/calendar.svg"
      [className]="'main__date-icon'"
    />
  </section>

  <section [className]="'main__card-container clickable'">
    <img src="/assets/cards/01.jpg" alt="chart" [className]="'main__card'" />
    <div [className]="'main__card-info'">
      <span [className]="'t12'">**** **** **** 7895</span>
      <h6 [className]="'main__card-balance'">4 863.27 USD</h6>
    </div>
    <img
      alt="visa"
      [className]="'main__visa'"
      src="/assets/svg/more-vertical.svg"
    />
  </section>

  <section [className]="'main__chart-container'">
    <ul [className]="'main__chart'">
      <li [className]="'main__chart-item-1'"></li>
      <li [className]="'main__chart-item-2'"></li>
      <li [className]="'main__chart-item-3'"></li>
      <li [className]="'main__chart-item-4'"></li>
      <li [className]="'main__chart-item-5'"></li>
    </ul>
    <span [className]="'t16 main__chart-currency'">USD</span>
    <span [className]="'t14 main__chart-amount'"
      >- 11 654
      <span [className]="'main__chart-amount-after'">.24</span>
    </span>
  </section>

  <section [className]="'main__transactions'">
    <ul>
      <li
        *ngFor="let item of statistics"
        [className]="'main__transactions-list-item'"
      >
        <img
          alt="transaction"
          [src]="item.icon"
          [className]="'main__transactions-list-item-icon'"
        />
        <div [className]="'main__transactions-list-item-info'">
          <h6 [className]="'main__transactions-list-item-title'">
            {{ item.name }}
          </h6>
          <span [className]="'t12'">
            {{ item.transactionsQty }} transactions
          </span>
        </div>
        <div [className]="'main__transactions-list-item-amount-container'">
          <h6 [className]="'main__transactions-list-item-amount'">
            - {{ item.amount }}
          </h6>
          <span [className]="'t12'">{{ item.inPercent }}%</span>
        </div>
      </li>
    </ul>
  </section>
</main>
