<app-header [title]="'Top-Up payment'" [showGoBack]="true" />

<main [className]="'container scrollable'">
  <section [className]="'cards clickable'">
    <span [className]="'cards__title t14'">Cards</span>
    <ul [className]="'cards__list'">
      <li
        *ngFor="let card of cards"
        [className]="'cards__list-item'"
        [ngStyle]="
          selectedMethod === 'card' && selectedCard === card.number
            ? {border: '1px solid #6C6D84'}
            : {}
        "
        (click)="selectCard(card.number)"
      >
        <img [src]="card.card" alt="card" [className]="'cards__list-card'" />
        <div [className]="'cards__list-info'">
          <span [className]="'cards__list-number t12'">{{ card.number }}</span>
          <h6 [className]="'cards__list-balance'">{{ card.balance }} USD</h6>
        </div>
      </li>
    </ul>
  </section>

  <section [className]="'e-accounts clickable'">
    <span [className]="'e-accounts__title t14'">Entrepreneur accounts</span>
    <ul [className]="'e-accounts__list'">
      <li
        *ngFor="let account of eAccounts"
        [className]="'e-accounts__list-item'"
        [ngStyle]="
          selectedMethod === 'e-account' && selectedEAccount === account.number
            ? {border: '1px solid #6C6D84'}
            : {}
        "
        (click)="selectEAccount(account.number)"
      >
        <img
          [alt]="'account'"
          [src]="account.card"
          [className]="'e-accounts__list-icon'"
        />
        <div [className]="'e-accounts__list-info'">
          <span [className]="'e-accounts__list-number t12'">{{
            account.number
          }}</span>
          <h6 [className]="'e-accounts__list-balance'">
            {{ account.balance }} USD
          </h6>
        </div>
      </li>
    </ul>
  </section>

  <section [className]="'methods'">
    <span [className]="'methods__title t14'">Entrepreneur accounts</span>
    <ul [className]="'methods__list'">
      <li
        *ngFor="let method of methods"
        [className]="'methods__list-item clickable'"
      >
        <img
          [alt]="'method'"
          [src]="method.icon"
          [className]="'methods__list-icon'"
        />
        <h6 [className]="'methods__list-title'">{{ method.title }}</h6>
        <img
          [alt]="'check'"
          [src]="'/assets/svg/info.svg'"
          [className]="'methods__list-check'"
        />
      </li>
    </ul>
  </section>
</main>
