<img src="/assets/other/01.png" alt="background" class="background" />

<main [className]="'scrollabel container main'">
  <img src="/assets/svg/lock.svg" alt="check" class="main__icon" />
  <h2 [className]="'main__title'">
    Your password has <br />
    been reset!
  </h2>
  <p [className]="'main__description t16'">
    Qui ex aute ipsum duis. Incididunt adipisicing <br />
    voluptate laborum
  </p>
  <app-button
    [text]="'Done'"
    [routerLink]="'/sign-in'"
    [className]="'main__button'"
  ></app-button>
</main>
